#square1 {
    height: 50px;
    width: 50px;
    background-color: green;
  }

  #square2 {
    height: 50px;
    width: 50px;
    background-color: yellow;
  }

  #square3 {
    height: 50px;
    width: 50px;
    background-color: orange;
  }

  #square4 {
    height: 50px;
    width: 50px;
    background-color: blue;
  }