<div id="card">
  <h4>{{cardSelect.holiday.season}}</h4>
  <div id="flexBox">
    <mat-form-field appearance="fill" class="flex1" 
                    style="background-color: aquamarine;">
      <mat-label>Select your greeting:</mat-label>
      <mat-select [(value)] = "selectionGreet">
        <mat-option *ngFor="let greet of greetSelect" [value]="greet.txt"> 
          {{greet.txt}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex2"
                    style="background-color: aquamarine;">
      <mat-label>Select a border colour</mat-label>
      <mat-select [(value)]="selectBorder">
        <mat-option *ngFor="let border of borderSelect" [value]="border.colour">
            {{border.colour}}
        </mat-option>
      </mat-select> 
    </mat-form-field>
    <mat-form-field appearance="fill" class="flex3"
                    style="background-color: aquamarine;">
      <mat-label>Select an Edge type</mat-label>
      <mat-select [(value)]="selectEdge">
        <mat-option *ngFor="let edge of bEdgeSelect" [value]="edge.edge">
            {{edge.edge}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p class="output">
    you selected a greeting of {{selectionGreet | uppercase}} with a {{selectBorder | uppercase}}
    border with {{selectEdge | uppercase}} edges
  </p>
  <hr>
  <button mat-raised-button (click)="createCard()">
    Click to create a card
  </button>
  <hr>
  <p [innerHTML]="outCard" id="outid">

  </p>
</div>